In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('2024.09.04 Lifetime Costs per Asset.csv')

In [3]:
df

,Material Cost (R),Material Charges (R),Asset ID,Install Date,Asset MFG Date,In Service?,Model Number,Model Number MFG,Manufacturer ID
0,169.24,169.24,041175,11/4/2016,12/1/1998,True,RENAISSANCE,1711,Stryker
1,0.00,0.00,130575,1/30/2019,12/1/1998,True,COJACK-PLUS,COJACK-PLUS,NaN
2,74.73,89.73,19521,11/18/2022,3/1/2015,True,ZOOM,1125,Stryker
3,0.00,0.00,MX1600476,11/5/2019,NaN,True,1000,P1160B,HILL-ROM
4,0.00,0.00,MX1992916,7/6/2023,NaN,True,EVOLUTION,33060400,SIZEWISE
...,...,...,...,...,...,...,...,...,...
3450,13.36,15.37,MX2586434,12/2/2021,8/31/2021,True,CENTRELLA,P7900,HILL-ROM
3451,684.81,787.53,13142,10/18/2022,9/1/2008,True,SECURE,3002,Stryker
3452,265.99,0.00,136839,1/23/2019,10/26/2018,True,CENTRELLA,P7900B000010,HILL-ROM
3453,0.00,0.00,EE183011,1/5/2021,4/13/2020,True,CENTRELLA,P7900,HILL-ROM
3454,0.00,0.00,EE191223,12/23/2020,NaN,True,CENTRELLA,P7900,HILL-ROM

In [4]:
len(df['Model Number'].unique())

108

In [5]:
df = pd.read_csv("2024.09.04 Materials Costs 2018 - 2023.csv")

In [6]:
df

,Asset ID,Install Date,WO Date,Work Order #,Material Cost,Material Charge,PO#,Model Number,Model Number MFG,Asset MFG Date,In Service?,Manufacturer Name
0,106349,11/17/2016,1/10/2018,11916,529.80,529.80,NaN,CUB,FL19H,NaN,True,Stryker
1,125441,11/18/2016,1/17/2018,11946,24.77,24.77,NaN,RENAISSANCE,1711,12/1/1998,True,Stryker
2,00983B,11/21/2016,1/17/2018,11943,42.31,42.31,NaN,RENAISSANCE,1711,12/1/1998,True,Stryker
3,125436,11/16/2016,1/17/2018,11948,42.31,42.31,NaN,RENAISSANCE,1711,12/1/1998,True,Stryker
4,040928,11/15/2016,1/17/2018,11949,42.31,42.31,NaN,RENAISSANCE,1211,12/1/1998,True,Stryker
...,...,...,...,...,...,...,...,...,...,...,...,...
3027,EE123654,5/16/2019,8/27/2024,48376,10.25,12.81,NaN,ZOOM,1125,11/1/2013,True,Stryker
3028,MX2541559,10/20/2021,8/27/2024,48375,10.47,13.09,NaN,ZOOM,1125-000-000E,6/1/2021,True,Stryker
3029,MX2541559,10/20/2021,8/27/2024,48375,10.63,13.29,NaN,ZOOM,1125-000-000E,6/1/2021,True,Stryker
3030,EE151720,10/19/2022,8/28/2024,48384,39.78,45.75,NaN,PROGRESSA,P7500,9/14/2015,True,Hill-Rom
3031,19521,11/18/2022,8/29/2024,48396,33.28,41.60,NaN,ZOOM,1125,3/1/2015,True,Stryker

In [7]:
df.columns

Index(['Asset ID', 'Install Date', 'WO Date', 'Work Order #', 'Material Cost',
       'Material Charge', 'PO#', 'Model Number', 'Model Number MFG',
       'Asset MFG Date', 'In Service?', 'Manufacturer Name'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3032 entries, 0 to 3031
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Asset ID           3032 non-null   object
 1   Install Date       3032 non-null   object
 2   WO Date            3032 non-null   object
 3   Work Order #       3032 non-null   object
 4   Material Cost      3032 non-null   float64
 5   Material Charge    3032 non-null   float64
 6   PO#                55 non-null     object
 7   Model Number       2999 non-null   object
 8   Model Number MFG   2981 non-null   object
 9   Asset MFG Date     2065 non-null   object
 10  In Service?        3032 non-null   bool
 11  Manufacturer Name  3028 non-null   object
dtypes: bool(1), float64(2), object(9)
memory usage: 263.6+ KB

In [9]:
df['WO Date'] = pd.to_datetime(df['WO Date'])
df['Year'] = df['WO Date'].dt.year

In [10]:
df

,Asset ID,Install Date,WO Date,Work Order #,Material Cost,Material Charge,PO#,Model Number,Model Number MFG,Asset MFG Date,In Service?,Manufacturer Name,Year
0,106349,11/17/2016,2018-01-10,11916,529.80,529.80,NaN,CUB,FL19H,NaN,True,Stryker,2018
1,125441,11/18/2016,2018-01-17,11946,24.77,24.77,NaN,RENAISSANCE,1711,12/1/1998,True,Stryker,2018
2,00983B,11/21/2016,2018-01-17,11943,42.31,42.31,NaN,RENAISSANCE,1711,12/1/1998,True,Stryker,2018
3,125436,11/16/2016,2018-01-17,11948,42.31,42.31,NaN,RENAISSANCE,1711,12/1/1998,True,Stryker,2018
4,040928,11/15/2016,2018-01-17,11949,42.31,42.31,NaN,RENAISSANCE,1211,12/1/1998,True,Stryker,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3027,EE123654,5/16/2019,2024-08-27,48376,10.25,12.81,NaN,ZOOM,1125,11/1/2013,True,Stryker,2024
3028,MX2541559,10/20/2021,2024-08-27,48375,10.47,13.09,NaN,ZOOM,1125-000-000E,6/1/2021,True,Stryker,2024
3029,MX2541559,10/20/2021,2024-08-27,48375,10.63,13.29,NaN,ZOOM,1125-000-000E,6/1/2021,True,Stryker,2024
3030,EE151720,10/19/2022,2024-08-28,48384,39.78,45.75,NaN,PROGRESSA,P7500,9/14/2015,True,Hill-Rom,2024
3031,19521,11/18/2022,2024-08-29,48396,33.28,41.60,NaN,ZOOM,1125,3/1/2015,True,Stryker,2024

In [11]:
df['Model Number'].unique()

array(['CUB', 'RENAISSANCE', 'SECURE S3', 'M-SERIES', 'Renaissance',
       'PROGRESSA', 'ULTRA CARE XT', 'PRIME BIG WHEEL', 'VERSACARE',
       'GLIDEAWAY', 'GYNNIE', 'TOTALCARE', 'TRI-FLEX II', 'ZOOM',
       'SPIRIT SELECT', 'EVOLUTION', 'PRIME ZOOM', 'TMM4', 'FIFTH WHEEL',
       'PEDIGO', 'ENTERPRISE', 'ADVANTA 2', 'TRANSTAR', 'CENTRELLA',
       'Power Pro XT', nan, 'M-Series', 'PRIME', 'Gynnie', 'AFFINITY 4',
       'SECURE 2', 'INTOUCH', 'ATLAS', 'EVOLUTION`', 'S3', 'UCXTBED',
       'BARI 10A', 'SECURE', 'BARI10A', '5TH WHEEL STRETCHER',
       'ULTRACARE XT', 'Zoom', 'TRANSPORT', 'BIG WHEEL',
       'EYE SURGERY STRETCHER', 'POWERFLEXX', 'BIRTHING BED', 'Centrella',
       'PATRIOT', 'S3 PATRIOT', 'Progressa', 'SM204', 'MV3',
       'CITADEL PLUS', 'OOK SNOW', 'SURGI', 'ADVANCE', 'PROCUITY',
       'CHG SPIRIT SELECT'], dtype=object)

### Average cost per model per year

In [12]:
avgg = df.groupby(['Year', 'Model Number'])['Material Cost'].mean().reset_index()

In [13]:
avgg.head(50)

    Year     Model Number  Material Cost
0   2018              CUB     529.800000
1   2018        GLIDEAWAY      62.560000
2   2018           GYNNIE      63.580000
3   2018         M-SERIES      28.775000
4   2018  PRIME BIG WHEEL      47.455000
5   2018        PROGRESSA     167.345714
6   2018      RENAISSANCE     117.588966
7   2018      Renaissance      57.273333
8   2018        SECURE S3     745.615000
9   2018        TOTALCARE     135.576667
10  2018      TRI-FLEX II      12.770000
11  2018    ULTRA CARE XT     107.220000
12  2018        VERSACARE     295.950000
13  2019              CUB    1059.600000
14  2019        EVOLUTION     180.523333
15  2019      FIFTH WHEEL       6.050000
16  2019           GYNNIE     276.135000
17  2019         M-SERIES      74.680000
18  2019           PEDIGO     113.190000
19  2019  PRIME BIG WHEEL      32.130000
20  2019       PRIME ZOOM     100.410000
21  2019        PROGRESSA     370.802857
22  2019      RENAISSANCE     266.796667
23  2019        SECURE S3     478.300000
24  2019    SPIRIT SELECT     208.535000
25  2019             TMM4     599.980000
26  2019        TOTALCARE     279.937500
27  2019        VERSACARE     369.670000
28  2019             ZOOM     320.980000
29  2020        ADVANTA 2     194.765000
30  2020       AFFINITY 4     227.625000
31  2020        CENTRELLA      96.725625
32  2020              CUB     529.800000
33  2020       ENTERPRISE     278.767059
34  2020        EVOLUTION     515.500952
35  2020           GYNNIE     132.087000
36  2020           Gynnie     192.440000
37  2020         M-SERIES     150.921667
38  2020         M-Series     512.870000
39  2020            PRIME      37.230000
40  2020  PRIME BIG WHEEL     467.750000
41  2020       PRIME ZOOM       9.153333
42  2020        PROGRESSA     219.924853
43  2020     Power Pro XT     541.245000
44  2020      RENAISSANCE     494.901111
45  2020      Renaissance     144.330000
46  2020         SECURE 2     100.320000
47  2020             TMM4     573.960000
48  2020        TOTALCARE     183.725714
49  2020         TRANSTAR     379.690000

In [14]:
df.groupby(['Year', 'Model Number'])['Material Cost'].mean().reset_index() \
.sort_values(by='Material Cost', ascending=False).head(50)

     Year           Model Number  Material Cost
149  2024                    MV3    3142.120000
113  2023                    MV3    1718.080000
152  2024                  PRIME    1130.380000
13   2019                    CUB    1059.600000
108  2023             EVOLUTION`     993.965000
8    2018              SECURE S3     745.615000
80   2022  EYE SURGERY STRETCHER     663.850000
154  2024               PROCUITY     651.470000
25   2019                   TMM4     599.980000
158  2024                     S3     574.160000
47   2020                   TMM4     573.960000
143  2024                    CUB     561.310000
116  2023                  PRIME     558.436667
75   2022              BIG WHEEL     557.680000
107  2023              EVOLUTION     557.327108
145  2024              EVOLUTION     544.718276
43   2020           Power Pro XT     541.245000
0    2018                    CUB     529.800000
32   2020                    CUB     529.800000
34   2020              EVOLUTION     515.500952
38   2020               M-Series     512.870000
44   2020            RENAISSANCE     494.901111
23   2019              SECURE S3     478.300000
139  2024           BIRTHING BED     477.832857
109  2023            FIFTH WHEEL     475.000000
40   2020        PRIME BIG WHEEL     467.750000
81   2022            FIFTH WHEEL     452.380000
79   2022              EVOLUTION     446.131569
57   2021              EVOLUTION     446.092000
52   2021              ADVANTA 2     435.215000
135  2024                ADVANCE     432.106667
136  2024              ADVANTA 2     430.190000
53   2021             AFFINITY 4     410.562727
73   2022               BARI 10A     389.560000
111  2023                INTOUCH     386.000833
49   2020               TRANSTAR     379.690000
21   2019              PROGRESSA     370.802857
27   2019              VERSACARE     369.670000
82   2022                 GYNNIE     356.717500
83   2022                INTOUCH     340.930682
142  2024           CITADEL PLUS     335.773333
151  2024                PATRIOT     329.000000
147  2024                INTOUCH     321.972000
28   2019                   ZOOM     320.980000
100  2023                BARI10A     313.166667
78   2022             ENTERPRISE     311.385000
128  2023          SPIRIT SELECT     308.966000
115  2023             POWERFLEXX     304.880000
58   2021             EVOLUTION`     302.330000
12   2018              VERSACARE     295.950000

In [15]:
avg_table = avgg.pivot(index='Model Number', columns='Year', values='Material Cost')

In [16]:
avg_table

Year,2018,2019,2020,2021,2022,2023,2024
Model Number,,,,,,,
5TH WHEEL STRETCHER,NaN,NaN,NaN,NaN,16.365000,NaN,NaN
ADVANCE,NaN,NaN,NaN,NaN,NaN,NaN,432.106667
ADVANTA 2,NaN,NaN,194.765000,435.215000,NaN,NaN,430.190000
AFFINITY 4,NaN,NaN,227.625000,410.562727,135.925789,125.051667,NaN
ATLAS,NaN,NaN,NaN,192.440000,NaN,NaN,NaN
BARI 10A,NaN,NaN,NaN,NaN,389.560000,NaN,144.940000
BARI10A,NaN,NaN,NaN,NaN,75.620000,313.166667,NaN
BIG WHEEL,NaN,NaN,NaN,NaN,557.680000,243.733333,19.252500
BIRTHING BED,NaN,NaN,NaN,NaN,NaN,221.405714,477.832857
CENTRELLA,NaN,NaN,96.725625,173.689375,147.739841,151.747807,143.726933
CHG SPIRIT SELECT,NaN,NaN,NaN,NaN,NaN,NaN,6.730000
CITADEL PLUS,NaN,NaN,NaN,NaN,NaN,NaN,335.773333
CUB,529.800000,1059.600000,529.800000,NaN,200.676667,133.645455,561.310000
Centrella,NaN,NaN,NaN,NaN,NaN,268.580000,NaN
ENTERPRISE,NaN,NaN,278.767059,154.561852,311.385000,82.126875,70.390000
EVOLUTION,NaN,180.523333,515.500952,446.092000,446.131569,557.327108,544.718276
EVOLUTION`,NaN,NaN,NaN,302.330000,NaN,993.965000,NaN
EYE SURGERY STRETCHER,NaN,NaN,NaN,NaN,663.850000,NaN,NaN
FIFTH WHEEL,NaN,6.050000,NaN,NaN,452.380000,475.000000,NaN
GLIDEAWAY,62.560000,NaN,NaN,NaN,NaN,NaN,NaN
GYNNIE,63.580000,276.135000,132.087000,86.138000,356.717500,23.162500,4.990000
Gynnie,NaN,NaN,192.440000,NaN,NaN,NaN,NaN
INTOUCH,NaN,NaN,NaN,237.851667,340.930682,386.000833,321.972000
M-SERIES,28.775000,74.680000,150.921667,40.064000,212.138000,126.000000,136.550000
M-Series,NaN,NaN,512.870000,NaN,NaN,NaN,NaN
MV3,NaN,NaN,NaN,NaN,NaN,1718.080000,3142.120000
OOK SNOW,NaN,NaN,NaN,NaN,NaN,NaN,284.640000
PATRIOT,NaN,NaN,NaN,NaN,NaN,169.680667,329.000000
PEDIGO,NaN,113.190000,NaN,NaN,NaN,NaN,NaN
POWERFLEXX,NaN,NaN,NaN,NaN,NaN,304.880000,NaN
PRIME,NaN,NaN,37.230000,NaN,NaN,558.436667,1130.380000
PRIME BIG WHEEL,47.455000,32.130000,467.750000,26.408000,56.280000,129.846667,NaN
PRIME ZOOM,NaN,100.410000,9.153333,30.731111,34.381628,93.398435,33.124865
PROCUITY,NaN,NaN,NaN,NaN,NaN,NaN,651.470000
PROGRESSA,167.345714,370.802857,219.924853,139.763171,143.692247,179.543700,208.354146
Power Pro XT,NaN,NaN,541.245000,NaN,NaN,252.360000,NaN
Progressa,NaN,NaN,NaN,NaN,NaN,221.907500,35.540000
RENAISSANCE,117.588966,266.796667,494.901111,170.718182,16.534286,5.017500,16.185000
Renaissance,57.273333,NaN,144.330000,NaN,NaN,NaN,NaN
S3,NaN,NaN,NaN,NaN,256.658333,267.528387,574.160000
S3 PATRIOT,NaN,NaN,NaN,NaN,NaN,138.078000,11.146667
SECURE,NaN,NaN,NaN,NaN,45.517250,165.654625,156.077742
SECURE 2,NaN,NaN,100.320000,NaN,NaN,NaN,NaN
SECURE S3,745.615000,478.300000,NaN,NaN,NaN,290.360000,102.420000
SM204,NaN,NaN,NaN,NaN,NaN,108.820000,NaN
SPIRIT SELECT,NaN,208.535000,NaN,NaN,NaN,308.966000,6.730000
SURGI,NaN,NaN,NaN,NaN,NaN,NaN,107.690000
TMM4,NaN,599.980000,573.960000,NaN,NaN,NaN,NaN
TOTALCARE,135.576667,279.937500,183.725714,65.447000,230.888750,182.574483,122.078571
TRANSPORT,NaN,NaN,NaN,NaN,6.330000,NaN,76.071667
TRANSTAR,NaN,NaN,379.690000,37.568750,17.568636,21.791364,23.452000
TRI-FLEX II,12.770000,NaN,NaN,128.000000,NaN,NaN,NaN
UCXTBED,NaN,NaN,NaN,NaN,84.130000,186.417500,NaN
ULTRA CARE XT,107.220000,NaN,NaN,NaN,NaN,147.110000,NaN
ULTRACARE XT,NaN,NaN,NaN,NaN,100.000000,NaN,NaN
VERSACARE,295.950000,369.670000,168.421364,132.239762,111.994259,164.760000,177.170800
ZOOM,NaN,320.980000,204.345455,124.229333,293.114255,162.502109,249.978605
Zoom,NaN,NaN,NaN,NaN,227.260000,NaN,NaN

### Expensive beds (based on repair costs) by Asset ID

In [17]:
asset_costs = df.groupby('Asset ID')['Material Cost'].agg(
    total_cost='sum',
    average_cost='mean',
    number_of_repairs='count'
).reset_index()

In [18]:
asset_costs

                  Asset ID  total_cost  average_cost  number_of_repairs
0                   00124B      179.56    179.560000                  1
1                   00166B      171.82     57.273333                  3
2                   00963B      103.10     25.775000                  4
3                   00983B       42.31     42.310000                  1
4                   015010      179.56    179.560000                  1
...                    ...         ...           ...                ...
1135              MX423388      139.98    139.980000                  1
1136                T12714     2824.37   2824.370000                  1
1137  VACL STRETCHER NO ID      710.64    710.640000                  1
1138                 VACLB      658.00    658.000000                  1
1139        VAPA BED NO ID       54.63     54.630000                  1

[1140 rows x 4 columns]

In [19]:
df.groupby('Asset ID')['Material Cost'].agg(total_cost='sum', average_cost='mean', number_of_repairs='count').reset_index().sort_values(by='average_cost', ascending=False).head(50)

       Asset ID  total_cost  average_cost  number_of_repairs
392      153065     2852.83   2852.830000                  1
1136     T12714     2824.37   2824.370000                  1
869    MX159310     5559.56   2779.780000                  2
231      131401     2442.50   2442.500000                  1
514       32662     6578.28   2192.760000                  3
1049  MX2054844     2007.00   2007.000000                  1
747    EE170608     1752.94   1752.940000                  1
658    EE169385     3505.88   1752.940000                  2
428       17900     1704.13   1704.130000                  1
407       16627     1360.04   1360.040000                  1
68        11557     6578.42   1315.684000                  5
429       17903     3580.21   1193.403333                  3
1086  MX2214588     1160.49   1160.490000                  1
737    EE170595     2290.61   1145.305000                  2
715    EE170501     4484.47   1121.117500                  4
701    EE170400     5579.67   1115.934000                  5
270      133275     1111.18   1111.180000                  1
218      131301     1044.61   1044.610000                  1
223      131345     1044.61   1044.610000                  1
676    EE169782     2041.47   1020.735000                  2
1043  MX2054832     2027.22   1013.610000                  2
665    EE169764     1987.93    993.965000                  2
661    EE169390     1987.93    993.965000                  2
657    EE169384     1987.93    993.965000                  2
698    EE170397     1987.93    993.965000                  2
686    EE170252     1987.93    993.965000                  2
719    EE170507     1987.93    993.965000                  2
680    EE170244     1987.93    993.965000                  2
732    EE170587     1987.93    993.965000                  2
662    EE169391     1987.93    993.965000                  2
746    EE170607     1987.93    993.965000                  2
137       12635     3949.79    987.447500                  4
762    EE191211      948.00    948.000000                  1
767    EE191229      948.00    948.000000                  1
651    EE169370     2813.85    937.950000                  3
593    EE123236      926.90    926.900000                  1
578    EE114358     8040.66    893.406667                  9
734    EE170589     1759.00    879.500000                  2
722    EE170570     1759.00    879.500000                  2
685    EE170250     1759.00    879.500000                  2
152       12723     3383.82    845.955000                  4
726    EE170576     4199.22    839.844000                  5
524       33032      829.85    829.850000                  1
1100  MX2220008     4018.38    803.676000                  5
622    EE151702     3177.50    794.375000                  4
149       12720     1588.00    794.000000                  2
596    EE123644     3969.29    793.858000                  5
659    EE169387     2376.47    792.156667                  3
130      125510     1557.58    778.790000                  2
727    EE170577     2290.26    763.420000                  3

In [20]:
# SORT BY TOTAL
df.groupby('Asset ID')['Material Cost'].agg(
    total_cost='sum', 
    average_cost='mean', 
    number_of_repairs='count'
).sort_values(by='average_cost', ascending=False).head(20)

           total_cost  average_cost  number_of_repairs
Asset ID
153065        2852.83   2852.830000                  1
T12714        2824.37   2824.370000                  1
MX159310      5559.56   2779.780000                  2
131401        2442.50   2442.500000                  1
32662         6578.28   2192.760000                  3
MX2054844     2007.00   2007.000000                  1
EE170608      1752.94   1752.940000                  1
EE169385      3505.88   1752.940000                  2
17900         1704.13   1704.130000                  1
16627         1360.04   1360.040000                  1
11557         6578.42   1315.684000                  5
17903         3580.21   1193.403333                  3
MX2214588     1160.49   1160.490000                  1
EE170595      2290.61   1145.305000                  2
EE170501      4484.47   1121.117500                  4
EE170400      5579.67   1115.934000                  5
133275        1111.18   1111.180000                  1
131301        1044.61   1044.610000                  1
131345        1044.61   1044.610000                  1
EE169782      2041.47   1020.735000                  2

In [21]:
df[df['Asset ID']=='MX159310']

,Asset ID,Install Date,WO Date,Work Order #,Material Cost,Material Charge,PO#,Model Number,Model Number MFG,Asset MFG Date,In Service?,Manufacturer Name,Year
669,MX159310,7/9/2019,2022-02-10,28131,2706.73,2483.2,NaN,ZOOM,1125,5/1/2015,True,Stryker,2022
670,MX159310,7/9/2019,2022-02-10,28131,2852.83,0.0,NaN,ZOOM,1125,5/1/2015,True,Stryker,2022

### Annual costs per model per age

In [25]:
df['Install Date'] = pd.to_datetime(df['Install Date'])
df['WO Date'] = pd.to_datetime(df['WO Date'])
df['Age (Years)'] = (df['WO Date'] - df['Install Date']).dt.days / 365.25
df['Age (Years)'] = df['Age (Years)'].apply(lambda x: max(x, 1))
df['Annual Material Cost'] = df['Material Cost'] / df['Age (Years)']
avgg_annual = df.groupby('Model Number')['Annual Material Cost'].mean().reset_index()

In [26]:
avgg_annual

             Model Number  Annual Material Cost
0     5TH WHEEL STRETCHER             16.365000
1                 ADVANCE            144.928338
2               ADVANTA 2            215.863605
3              AFFINITY 4             84.889657
4                   ATLAS             85.405480
5                BARI 10A            210.196230
6                 BARI10A            251.913154
7               BIG WHEEL            226.059412
8            BIRTHING BED            267.540169
9               CENTRELLA             55.317344
10      CHG SPIRIT SELECT              6.730000
11           CITADEL PLUS            183.869880
12                    CUB             70.185377
13              Centrella            213.258359
14             ENTERPRISE            125.445967
15              EVOLUTION            165.463629
16             EVOLUTION`            215.986211
17  EYE SURGERY STRETCHER            663.850000
18            FIFTH WHEEL            311.143333
19              GLIDEAWAY             48.004286
20                 GYNNIE             49.117137
21                 Gynnie             49.885529
22                INTOUCH            314.686150
23               M-SERIES             88.282850
24               M-Series            512.870000
25                    MV3           1688.015191
26               OOK SNOW            132.634543
27                PATRIOT            179.638125
28                 PEDIGO            113.190000
29             POWERFLEXX             86.930070
30                  PRIME            132.696300
31        PRIME BIG WHEEL             69.665138
32             PRIME ZOOM             53.642932
33               PROCUITY            651.470000
34              PROGRESSA             93.019417
35           Power Pro XT            163.676725
36              Progressa            183.308176
37            RENAISSANCE             57.566754
38            Renaissance             34.697552
39                     S3            291.215508
40             S3 PATRIOT             32.463177
41                 SECURE            117.487732
42               SECURE 2             25.028607
43              SECURE S3            168.621700
44                  SM204            108.820000
45          SPIRIT SELECT            231.148777
46                  SURGI             24.863320
47                   TMM4            578.050389
48              TOTALCARE            135.546738
49              TRANSPORT             54.925146
50               TRANSTAR             15.335975
51            TRI-FLEX II             10.995451
52                UCXTBED             23.121785
53          ULTRA CARE XT             62.047803
54           ULTRACARE XT             12.482912
55              VERSACARE             56.659820
56                   ZOOM            113.211218
57                   Zoom            227.260000

In [27]:
df.groupby('Model Number')['Annual Material Cost'].mean().reset_index().sort_values(by='Annual Material Cost', ascending=False).head(50)

             Model Number  Annual Material Cost
25                    MV3           1688.015191
17  EYE SURGERY STRETCHER            663.850000
33               PROCUITY            651.470000
47                   TMM4            578.050389
24               M-Series            512.870000
22                INTOUCH            314.686150
18            FIFTH WHEEL            311.143333
39                     S3            291.215508
8            BIRTHING BED            267.540169
6                 BARI10A            251.913154
45          SPIRIT SELECT            231.148777
57                   Zoom            227.260000
7               BIG WHEEL            226.059412
16             EVOLUTION`            215.986211
2               ADVANTA 2            215.863605
13              Centrella            213.258359
5                BARI 10A            210.196230
11           CITADEL PLUS            183.869880
36              Progressa            183.308176
27                PATRIOT            179.638125
43              SECURE S3            168.621700
15              EVOLUTION            165.463629
35           Power Pro XT            163.676725
1                 ADVANCE            144.928338
48              TOTALCARE            135.546738
30                  PRIME            132.696300
26               OOK SNOW            132.634543
14             ENTERPRISE            125.445967
41                 SECURE            117.487732
56                   ZOOM            113.211218
28                 PEDIGO            113.190000
44                  SM204            108.820000
34              PROGRESSA             93.019417
23               M-SERIES             88.282850
29             POWERFLEXX             86.930070
4                   ATLAS             85.405480
3              AFFINITY 4             84.889657
12                    CUB             70.185377
31        PRIME BIG WHEEL             69.665138
53          ULTRA CARE XT             62.047803
37            RENAISSANCE             57.566754
55              VERSACARE             56.659820
9               CENTRELLA             55.317344
49              TRANSPORT             54.925146
32             PRIME ZOOM             53.642932
21                 Gynnie             49.885529
20                 GYNNIE             49.117137
19              GLIDEAWAY             48.004286
38            Renaissance             34.697552
40             S3 PATRIOT             32.463177

In [28]:
df[df['Model Number']=='MV3']

,Asset ID,Install Date,WO Date,Work Order #,Material Cost,Material Charge,PO#,Model Number,Model Number MFG,Asset MFG Date,In Service?,Manufacturer Name,Year,Age (Years),Annual Material Cost
2009,32662,2022-09-09,2023-09-05,40821,292.16,335.98,OMC-3811,MV3,5900,NaN,True,Stryker,2023,1.000000,292.160000
2011,32662,2022-09-09,2023-09-05,40821,3144.00,3615.60,OMC-3811,MV3,5900,NaN,True,Stryker,2023,1.000000,3144.000000
3003,32662,2022-09-09,2024-08-14,48147,3142.12,3927.66,B-OMC-4064,MV3,5900,NaN,True,Stryker,2024,1.930185,1627.885574

In [29]:
df[df['Model Number']=='EVOLUTION`']

,Asset ID,Install Date,WO Date,Work Order #,Material Cost,Material Charge,PO#,Model Number,Model Number MFG,Asset MFG Date,In Service?,Manufacturer Name,Year,Age (Years),Annual Material Cost
584,EE170577,2019-07-25,2021-10-06,26340,302.33,302.33,NaN,EVOLUTION`,EVOLUTION,NaN,True,SIZEWISE,2021,2.201232,137.345812
1733,EE170577,2019-07-25,2023-06-16,38346,234.99,270.24,NaN,EVOLUTION`,EVOLUTION,NaN,True,SIZEWISE,2023,3.893224,60.358718
1736,EE170577,2019-07-25,2023-06-16,38346,1752.94,2015.88,NaN,EVOLUTION`,EVOLUTION,NaN,True,SIZEWISE,2023,3.893224,450.254103

In [22]:
df['Install Date'] = pd.to_datetime(df['Install Date'])
df['WO Date'] = pd.to_datetime(df['WO Date'])

df['Age (Years)'] = (df['WO Date'] - df['Install Date']).dt.days // 365

average_cost_by_age = df.groupby(['Model Number', 'Age (Years)'])['Material Cost'].mean().reset_index()

pivot_table = average_cost_by_age.pivot(index='Model Number', columns='Age (Years)', values='Material Cost').fillna(0)

In [23]:
pivot_table

Age (Years),-1,0,1,2,3,4,5,6,7,8,9
Model Number,,,,,,,,,,,
5TH WHEEL STRETCHER,0.00,16.365000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
ADVANCE,0.00,0.000000,0.000000,432.106667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
ADVANTA 2,0.00,274.915000,0.000000,0.000000,0.000000,430.190000,0.000000,0.000000,0.000000,0.000000,0.00
AFFINITY 4,0.00,0.000000,227.625000,410.562727,132.263810,138.840000,0.000000,0.000000,0.000000,0.000000,0.00
ATLAS,0.00,0.000000,0.000000,192.440000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
BARI 10A,0.00,389.560000,0.000000,0.000000,0.000000,144.940000,0.000000,0.000000,0.000000,0.000000,0.00
BARI10A,0.00,216.725000,290.835000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
BIG WHEEL,0.00,268.945385,124.176000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
BIRTHING BED,0.00,119.998333,521.835000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
CENTRELLA,0.00,133.391429,126.213651,180.293617,154.716458,84.036667,292.428800,0.000000,0.000000,0.000000,0.00
CHG SPIRIT SELECT,0.00,6.730000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
CITADEL PLUS,0.00,0.000000,335.773333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
CUB,0.00,0.000000,529.800000,0.000000,794.700000,0.000000,242.943333,138.952143,561.310000,0.000000,0.00
Centrella,0.00,0.000000,268.580000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
ENTERPRISE,0.00,279.964857,146.171364,267.897143,101.714545,56.756957,0.000000,0.000000,0.000000,0.000000,0.00
EVOLUTION,0.00,194.781667,560.560526,485.698333,477.632239,582.115895,475.950000,1006.470000,0.000000,0.000000,0.00
EVOLUTION`,0.00,0.000000,0.000000,302.330000,993.965000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
EYE SURGERY STRETCHER,0.00,663.850000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
FIFTH WHEEL,0.00,311.143333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
GLIDEAWAY,0.00,0.000000,62.560000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
GYNNIE,0.00,461.500000,50.107500,276.135000,132.087000,86.138000,321.790000,4.990000,0.000000,0.000000,0.00
Gynnie,0.00,0.000000,0.000000,0.000000,192.440000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
INTOUCH,0.00,424.835455,322.014783,98.794286,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
M-SERIES,0.00,254.198462,28.775000,44.358333,32.038182,90.396000,0.000000,138.038000,67.040000,0.000000,0.00
M-Series,0.00,512.870000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
MV3,0.00,1718.080000,3142.120000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
OOK SNOW,0.00,0.000000,89.000000,480.280000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
PATRIOT,0.00,179.638125,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
PEDIGO,0.00,113.190000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
POWERFLEXX,0.00,0.000000,0.000000,0.000000,304.880000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
PRIME,0.00,0.000000,37.230000,0.000000,0.000000,701.422500,0.000000,0.000000,0.000000,0.000000,0.00
PRIME BIG WHEEL,0.00,375.130000,7.940000,39.952000,155.511111,38.230000,97.630000,0.000000,514.630000,0.000000,0.00
PRIME ZOOM,0.00,81.581778,29.519355,34.601429,7.195000,162.078000,234.700000,0.000000,0.000000,0.000000,0.00
PROCUITY,0.00,651.470000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
PROGRESSA,0.00,219.727731,131.144923,192.313692,199.938393,164.509839,140.543488,190.076452,180.709545,143.678333,305.67
Power Pro XT,0.00,608.140000,0.000000,0.000000,541.245000,0.000000,0.000000,133.766667,0.000000,0.000000,0.00
Progressa,0.00,221.907500,35.540000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
RENAISSANCE,0.00,0.000000,108.643846,219.576667,520.642000,29.648889,206.052000,4.785455,16.185000,0.000000,0.00
Renaissance,0.00,0.000000,63.465000,44.890000,0.000000,144.330000,0.000000,0.000000,0.000000,0.000000,0.00
S3,0.00,373.512917,428.786538,102.050000,102.420000,0.000000,0.000000,0.000000,0.000000,102.420000,0.00
S3 PATRIOT,0.00,0.000000,0.000000,0.000000,138.078000,11.146667,0.000000,0.000000,0.000000,0.000000,0.00
SECURE,0.00,123.973596,156.130735,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
SECURE 2,0.00,0.000000,0.000000,0.000000,0.000000,100.320000,0.000000,0.000000,0.000000,0.000000,0.00
SECURE S3,0.00,564.330000,0.000000,0.000000,514.660000,478.300000,0.000000,0.000000,102.420000,478.300000,0.00
SM204,0.00,108.820000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
SPIRIT SELECT,0.00,198.633333,598.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
SURGI,0.00,0.000000,0.000000,0.000000,0.000000,107.690000,0.000000,0.000000,0.000000,0.000000,0.00
TMM4,0.00,593.475000,573.960000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
TOTALCARE,0.00,168.401333,219.128571,129.605714,79.944545,202.880000,41.935000,0.000000,0.000000,0.000000,0.00
TRANSPORT,0.00,66.221667,35.880000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
TRANSTAR,0.00,379.690000,37.568750,0.000000,19.680000,23.452000,0.000000,0.000000,0.000000,0.000000,0.00
TRI-FLEX II,0.00,0.000000,0.000000,0.000000,0.000000,12.770000,0.000000,128.000000,0.000000,0.000000,0.00
UCXTBED,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,84.130000,37.435000,335.400000,0.000000,0.00
ULTRA CARE XT,0.00,107.220000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,147.110000,0.00
ULTRACARE XT,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000,0.00
VERSACARE,0.00,139.549048,168.574828,138.828478,147.413529,168.951765,155.707037,443.520000,443.520000,0.000000,0.00
ZOOM,332.26,137.929277,193.281333,229.420789,206.789722,365.770312,425.980000,0.000000,0.000000,0.000000,0.00
Zoom,0.00,227.260000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00